@model Esercizio_M4_W2_D1_web_app.Models.CV

@{
    ViewData["Title"] = "Curriculum Vitae";
}

<div class="text-center">
    <h1 class="display-4">Curriculum Vitae</h1>
    <h2>Informazioni Personali</h2>
    <p>Nome: @Model.InformazioniPersonali.Nome</p>
    <p>Cognome: @Model.InformazioniPersonali.Cognome</p>
    <p>Telefono: @Model.InformazioniPersonali.Telefono</p>
    <p>Email: @Model.InformazioniPersonali.Email</p>
    <h2>Studi Effettuati</h2>
    @foreach (var studi in Model.StudiEffettuati)
    {
        <p>Qualifica: @studi.Qualifica</p>
        <p>Istituto: @studi.Istituto</p>
        <p>Tipo: @studi.Tipo</p>
        <p>Dal: @studi.Dal.ToString("dd/MM/yyyy")</p>
        <p>Al: @studi.Al.ToString("dd/MM/yyyy")</p>
        <hr />
    }
    <h2>Impieghi</h2>
    @foreach (var esperienza in Model.Impieghi.Esperienze)
    {
        <p>Azienda: @esperienza.Azienda</p>
        <p>Job Title: @esperienza.JobTitle</p>
        <p>Dal: @esperienza.Dal.ToString("dd/MM/yyyy")</p>
        <p>Al: @esperienza.Al.ToString("dd/MM/yyyy")</p>
        <p>Descrizione: @esperienza.Descrizione</p>
        <p>Compiti: @esperienza.Compiti</p>
        <hr />
    }
</div>
